<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287393816060-3hj8j5j574oum1dsumo2b7ja3vrnvbea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287393816060-3hj8j5j574oum1dsumo2b7ja3vrnvbea</string>
	<key>API_KEY</key>
	<string>AIzaSyBjjutDlAPUyJB-VKt6o0pizlZ0eYWCP3U</string>
	<key>GCM_SENDER_ID</key>
	<string>287393816060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.layunta.Carteira</string>
	<key>PROJECT_ID</key>
	<string>carteira-5ee5a</string>
	<key>STORAGE_BUCKET</key>
	<string>carteira-5ee5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287393816060:ios:c537498d86e673066e6679</string>
</dict>
</plist>